<div class="appContainer">
	<mat-toolbar class="appToolBar" color="primary" fxLayout="row" fxLayout.lt-sm="column">
		<mat-toolbar-row class="appToolBarRow" fxFlexOrder="1" fxFlexOrder.lt-sm="2" fxFlex="140px" fxFlex.lt-sm="56px">
			<div class="buttonBlock" (click)="onClickButtons($event)">
				<button mat-icon-button *ngFor="let button of toolbarButtons" [routerLink]="button.href" routerLinkActive="activeElement" matTooltip="{{button.tip}}" matTooltipClass="{{button.tipClassName}}">
					<mat-icon class="menuIcon"  [ngClass]="button.className" aria-label="app menu" >{{button.icon}}</mat-icon>
				</button>
			</div>
		</mat-toolbar-row>
		<mat-toolbar-row fxFlexOrder="2" fxFlexOrder.lt-sm="1">
			<div class="headerText">{{appHeader}}</div>
			<a class="logo-pwa" routerLink="/">
				<mat-icon svgIcon="logo-pwa"></mat-icon>
			</a>
		</mat-toolbar-row>
	</mat-toolbar>
	<mat-sidenav-container  [ngStyle.lt-sm]="{height: 'calc(100% - 128px)'}" class="mainSideNav">
		<mat-sidenav class="matSideDrawer" [opened]="openedSideNav" mode="side">
			<pwa-sidenav [menuItems] ="menuItems"></pwa-sidenav>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
