.gridContainer{
    flex-wrap: wrap;
}
.gridItem{
    text-decoration: none;
}
.gridCard{
    min-width: 250px;
    min-height: 200px;
    margin: 20px;
    box-shadow: 0 0 20px 0 #e1e1e1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.gridCard:hover{
    outline: 1px solid rgba(0, 89, 255, 0.45);
}
.gridHeader{
    display: flex;
    align-items: center;
}
.gridIcon{
    width: 48px;
    height: 48px;
}
.gridInnerHeader{
    font-size: 24px;
    color: darkblue;
    margin-left: 16px;
}
.gridContent{
    margin: 24px 16px 16px 16px;
}