/*
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/normalize.css";
*/
@import "../appTheme/theme.css";

@font-face {
    font-family: 'Oswald-Light';
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    font-style: normal;
    font-weight: 300;
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    font-style: normal;
    font-weight: 300;
    src: url("fonts/RobotoCondensed-Light.ttf");
}
html{
    height: 100vh;
    overflow: hidden;
}
body{
    margin: 0;
    font-family: Oswald-Light,RobotoCondensed-Regular, Roboto,sans-serif;
    height: inherit;
    line-height: 1.4em;
    color: #3c3c3c;
    font-size: 18px;
}
div.appContainer *[class^=mat], div.appContainer mat-card{
    font-family: Oswald-Light, RobotoCondensed-Regular, Roboto, sans-serif !important;
}

.buttonTip{
    font-size: 12px;
    font-weight: 200;
    background-color: #706c6f !important;
}

.mat-sidenav-content > router-outlet + * > mat-card{
    min-height: calc(100% - 50px);
    padding: 48px;

}

.exampleCode>div#preElem span{/*шрифты в образцах кода*/
    font-family: Menlo, Monaco, "Courier New", Courier, monospace; /*'Roboto', sans-serif;*/
    font-weight: 300;
}
pre{
    padding: 20px;
    margin: 0;
    font-size: 16px;
}

/*-----------------template colors------------------------*/
span.d-blue, span.blue{
    color : #0064d5;
}
span.d-dark-blue, span.dark-blue{
    color : #00008d;
}
span.d-lite-blue, span.lite-blue{
    color: #c1dfff;
}
span.d-green, span.green{
    color: #006500;
}
span.d-lite-green,span.lite-green{
    color: #c9ffc7;
}
span.d-grey, span.grey{
    color: #8a8a8a;
}
span.d-purple,span.purple{
    color: purple;
}
span.d-lite-purple, span.lite-purple{
    color: #f2c7ec;
}
span.d-sky, span.sky{
    color: #009a9d;
}
span.d-dark-sky, span.dark-sky{
    color: #007a7c;
}
span.d-lite-sky, span.lite-sky{
    color: #b7f6e2;
}
span.d-brown, span.brown{
    color : #9d3400;
}
span.d-lite-brown, span.lite-brown{
    color: #ffb57c;
}
span.d-red, span.red{
    color: #ff0000;
}
span.d-dark-red, span.dark-red{
    color: #b20000;
}
span.d-lite-red, span.lite-red{
    color: #ff847f;
}
span.d-yellow, span.yellow{
    color: #ffb900;
}
span.d-lite-yellow, span.lite-yellow{
    color: #ffef5c;
}