<mat-card style="margin: 16px" class="pwa-page">
	<h4 id="installBanners" pwa-query-selector>Диалоги установки приложения.</h4>
	<img class="addToHomeImg" src="assets/icons/install-messages/add-to-home-screen.gif">
	<p>Существуют два типа диалогов установки приложения: <span class="dark-blue">web</span> диалог установки (диалог веб приложения), <span class="dark-blue">native</span> диалог установки  (банер нативного приложения). Они позволяют пользователю быстро добавить иконку на веб или <span class="dark-blue">native</span> приложения на домашний экран устройства без выхода из браузера. Технология установочного диалога иногда имеет аббревиатуру <span class="dark-blue">A2HS</span>. <br>
	Для возможности добавления установочного диалога, необходимо в приложение добавить файл манифеста, с заполненными метаданными свойств приложения. Затем, Chrome использует данные свойства для отображения диалога перед добавлением приложения на домашний экран.</p>
	<p>Chrome автоматически отображает диалог установки, когда приложение отвечает следующим критериям :</p>
	<ul>
		<li>Имеет файл манифеста с заполненными свойствами:
			<ul>
				<li><span class="dark-blue">short_name</span> - используется как имя приложения на домашнем экране.</li>
				<li><span class="dark-blue">name</span> - применяется как имя приложения в диалоге установки.</li>
				<li>В массиве <span class="dark-blue">icons</span> должна быть определена иконка со свойствами <span class="dark-blue">"sizes" : "192x192"</span> и <span class="dark-blue">"type" : "image/png"</span></li>
				<li><span class="dark-blue">start_url</span></li>
			</ul>
		</li>
		<li>Имеет зарегистрированный <span class="dark-blue">Service Worker</span> (сервисный рабочий)</li>
		<li>Работает по протоколу <span class="dark-blue">HTTPS</span> (обязательно для использования сервисного рабочего)</li>
	</ul>
	<p>Технология диалогов установки развивающаяся, поэтому критерии для применения этих диалогов могут меняться в будущем.</p>
	<h4 id="bannerTest" pwa-query-selector>Тестирование диалога установки приложения.</h4>
	<p>Как только настроен и подключен файл манифеста, можно проверить его корректную настройку. Для этого используется два подхода, один - ручной, второй - автоматический.</p>
	<h5>Ручной запуск диалога установки.</h5>
	<ul>
		<li>Открыть инструменты разработчика (<span class="dark-blue">Chrome Dev Tools</span>)</li>
		<li>Перейти на панель <span class="dark-blue">Application</span> (приложение).</li>
		<li>Перейти на вкладку <span class="dark-blue">Manifest</span></li>
		<li>Кликните на ссылку <span class="dark-blue">Add to homescreen</span> (добавить на домашний экран)</li>
	</ul>
	<img style="width: 100%" src="assets/icons/install-messages/addToHomeScreen.png">
	<h4>Автоматизирование тестированние диалога установки.</h4>
	<p>Для этой цели используется приложение <a target="_blank" href="https://developers.google.com/web/tools/lighthouse/">Lighthouse</a> - инструмент тестирования прогрессивных веб приложений. Его можно запускать как расширения для Chrome, так и как модуль NPM. Для тестирования, приложению предоставляется стартовая страница тестируемого приложения, и оно запускает набор проверочных тестов, результатом котрых является подробный отчет, как в текстовом, так и в графическом представлении соответствия тестируемого приложения пройденным тестам. Ниже, представлен скрин подобного отчета в качестве примера, который представляет два набора тестов: выше - тест на безопасное соединение, и ниже - тест на вызов диалога установки-подсказки для добавлении иконки запуска приложения на домашний экран, здесь определены пройденные тесты (сверху вниз), : </p>
	<ul>
		<li>Сайт работает по безопасному протоколу <span class="dark-blue">HTTPS</span> </li>
		<li>Сайт перенаправляет вызовы с <span class="dark-blue">HTTP</span> на <span class="dark-blue">HTTPS</span></li>
		<li>Сайт имеет зарегистрированного сервисного рабочего.</li>
		<li>Сайт имеет файл манифеста.</li>
		<li>Манифест содержит заполненное свойство <span class="dark-blue">start_url</span>. </li>
		<li>Манифест содержит иконку, разрешением не менее 144px.</li>
		<li>Манифест содержит заполненное свойство <span class="dark-blue">short_name</span>.</li>
	</ul>
	<img class="lighthouseImg" src="assets/icons/install-messages/lighthouse-a2hs.png">
	<h4 id="bannerEvents" pwa-query-selector>События диалога установки.</h4>
	<p>Chrome предоставляет легкий механизм определения ответных действий пользователя на отображение диалога установки, отказа в установке прилодения или откладывание установки на другое время.</p>
	<h5>Установил ли пользователь приложение?</h5>
	<p><span class="dark-blue">beforeinstallprompt</span> - событие, возвращающее промис <span class="dark-blue">userChoice</span>, который принимается, когда пользователь взаимодействует с диалогом. Этот промис содержит объект со свойством <span class="dark-blue">outcome</span>, со строковыми значениями, либо <span class="dark-blue">dismissed</span> - пользователь отказался от установки приложения, <span class="dark-blue">accepted</span> - пользователь установил приложение на домашний экран. Ниже, пример.</p>
	<pwa-example-code [context]="{header : 'Установка обработчика события действия пользователя ', ext : '.js'}">
<span class="purple" >window</span><span class="dark-blue" >.addEventListener(</span><span class="green" >'beforeinstallprompt'</span><span class="dark-blue" >, function(</span><span class="red" >e</span><span class="dark-blue" >) &#123;</span>
<span class="grey">// beforeinstallprompt событие запущено
// e.userChoice вернет Promise.
// о промисах читаем здесь: https://developers.google.com/web/fundamentals/getting-started/primers/promises </span>
		<span class="red" >e.</span><span class="dark-blue" >userChoice</span><span class="purple">.then</span><span class="dark-blue" >(function(</span><span class="red" >choiceResult</span><span class="dark-blue" >) &#123;
console.log(</span><span class="red" >choiceResult.</span><span class="dark-blue" >outcome);
if(</span><span class="red" >choiceResult.</span><span class="dark-blue" >outcome == </span><span class="green" >'dismissed'</span><span class="dark-blue" >) &#123;
console.log(</span><span class="green" >'Пользователь отказался от установки приложения'</span><span class="dark-blue" >);
&#125;
else &#123;
console.log(</span><span class="green" >'Пользователь добавил приложение на домашний экран'</span><span class="dark-blue" >);
&#125;
&#125;);
&#125;); </span>
	</pwa-example-code>
	<h5 id="cancelInstall" pwa-query-selector>Отложенная или отмененная установка.</h5>
	<p>Chrome управляет тем, когда запустить диалог, но для некоторых сайтов это может не подходить. Иногда нужно отложить вызов диалога на другое время или отказаться от него. Когда Chrome отображает диалог установки, можно предотвратить запуск этого действия (действия по умолчанию) и сохранить событие для другого случая. Когда разработчик приложения решит, что такой удобный случай наступил, можно воспользоваться сохраненным событием вызова диалога установки и вызвать на нем метод <span class="dark-blue">prompt()</span> для отображения диалога установки. Пример ниже.  </p>
	<pwa-example-code [context]="{header : 'Отложенный запуск диалога установки ', ext : '.js'}">
		<span class="d-purple" >var</span> <span class="d-dark-blue" >deferredPrompt;</span>
		
		<span class="d-purple" >window.</span><span class="d-dark-blue" >addEventListener(</span><span class="d-green" >'beforeinstallprompt'</span><span class="d-dark-blue" >, function(</span><span class="d-red" >e</span><span class="d-dark-blue" >) &#123;
		console.log(</span><span class="d-green" >'beforeinstallprompt событие запущено'</span><span class="d-dark-blue" >);</span>
		<span class="d-red" >e.</span><span class="d-dark-blue" >preventDefault();</span>
		<span class="d-grey">// Сохраним событие для запуска позже.</span>
		<span class="dark-blue" >deferredPrompt = </span><span class="d-red" >e</span><span class="d-dark-blue" >;
		return false;
		&#125;);</span>
		
		<span class="d-purple" >btnSave.</span><span class="d-dark-blue" >addEventListener(</span><span class="d-green" >'click'</span><span class="d-dark-blue" >, function() &#123;
		if(deferredPrompt !== </span><span class="purple" >undefined</span><span class="d-dark-blue" >) &#123; </span>
		<span class="d-grey">// Разработчик решил, что сейчас самое время отобразить диалого установки.</span>
		<span class="d-blue" >deferredPrompt.</span><span class="d-purple" >prompt();</span>
		<span class="d-grey">// Анализ действия пользователя после взаимодействия с диалогом.</span>
		<span class="d-dark-blue" >deferredPrompt.</span><span class="d-purple" >userChoice.</span><span class="d-dark-blue" >then(function(</span><span class="d-red" >choiceResult</span><span class="d-dark-blue" >) &#123;
		console.log(</span><span class="d-red" >choiceResult.</span><span class="d-dark-blue" >outcome);
		if(</span><span class="d-red" >choiceResult.</span><span class="d-dark-blue" >outcome == </span><span class="d-green" >'dismissed'</span><span class="d-dark-blue" >) &#123;
		console.log(</span><span class="d-green" >'Пользователь отказался от установки приложения'</span><span class="d-dark-blue" >);
			&#125;
			else &#123;
		console.log(</span><span class="d-green" >'Пользователь добавил приложение на домашний экран'</span><span class="d-dark-blue" >);
		&#125;</span>
		<span class="d-grey">// Отчистка ссылки на событие, если оно нам больше не нужно.</span>
		<span class="d-dark-blue" >deferredPrompt = </span><span class="d-purple" >null</span><span class="d-dark-blue" >;
			&#125;);
		&#125;
	&#125;);</span>
	</pwa-example-code>
	<p>Для отказа от вызова диалога установки, пример ниже.</p>
	<pwa-example-code [context]="{header : 'Отказ от вызова диалога установки', ext : '.js'}">
		<span class="d-purple" >window.</span><span class="d-dark-blue" >addEventListener(</span><span class="d-green" >'beforeinstallprompt'</span><span class="dark-blue" >, function(</span><span class="red" >e</span><span class="dark-blue" >) &#123;
		console.log(</span><span class="d-green" >'beforeinstallprompt событие запущено'</span><span class="d-dark-blue" >);</span>
		<span class="d-red" >e.</span><span class="d-dark-blue" >preventDefault();
			return false;
		&#125;); </span>
	</pwa-example-code>
	<h4 id="nativeBanners" pwa-query-selector>Диалоги установки нативных приложений.</h4>
	<p>Установочные диалоги нативных приложений аналогичны диалогам веб приложений, но вместо добавления приложения на домашний экран, они позволяют пользователю установить нативное приложение без необходимости выхода из сайта.<br>
	Критерии для отображения диалога установки подобны критериям для диалога веб приложений, за исключением необходимости установки сервисного рабочего сайт должен:</p>
	<ul>
		<li>Иметь файл манифеста с реализованными требованиями:
			<ul>
				<li>Установленным свойством <span class="d-dark-blue">short_name</span> </li>
				<li>Установленным свойством <span class="d-dark-blue">name</span> </li>
				<li>Установленным свойством <span class="d-dark-blue">related_application</span> с информацией о загружаемом приложении.</li>
				<li>В массиве используемых иконок <span class="d-dark-blue">icons</span> иметь элемент иконки с установленными свойствами: <span class="d-dark-blue">sizes : 192x192</span> и <span class="d-dark-blue">type : image/png</span>  </li>
			</ul>
		</li>
		<li>Работать по протоколу <span class="d-dark-blue">HTTPS</span> </li>
		<li>Быть посещенным пользователем дважды, в отдельные два дня, в течении двух недель.</li>
	</ul>
	<p>Дополнительно, если сайт имеет ограничения политики безопасного контента (<a target="_blank" href="https://developers.google.com/web/fundamentals/security/csp/">Content Security Policy</a>), убедитесь в добавлении значения <span class="d-dark-blue">*.googleusercontent.com</span> в ресурсные атрибуты изображений <span class="dark-blue">img-src</span>, поскольку Chrome будет пытаться загружать изображения, необходимые вашему приложению из <span class="dark-blue">Play Store</span> </p>
	<h4 id="manifestRequirement" pwa-query-selector>Требования для манифеста.</h4>
	<p>Для интеграции приложения с манифестом необходиимо заполнить в свойстве-массиве <span class="dark-blue">related_applications</span>, содержащим связанные приложения, свойство <span class="dark-blue">play</span> (для Google Play) и <span class="dark-blue">id</span> - идентификатор приложения. Если желаете предложить пользователю возможность установить Android приложение и не отображать диалог установки приложения, необходимо установить <span class="dark-blue">"prefer_related_applications": true</span>. Пример ниже. </p>
	<pwa-example-code [context]="{header : 'Интеграция в манифест', ext : 'manifest.json'}">
		<span class="green" >"prefer_related_applications"</span> <span class="dark-blue" >: true,</span>
		<span class="green" >"related_applications" </span><span class="dark-blue" >: [
		&#123;</span>
		<span class="green" >"platform": "play",
			"id": "com.google.samples.apps.iosched" </span><span class="dark-blue">
		&#125;
	]</span>
	</pwa-example-code>
</mat-card>