.addToHomeImg{
    display: block;
    float: right;
    width: 40%;
    min-width: 200px;
}
.addNativeImg{
    display: block;
    float: right;
    width: 30%;
    min-width: 200px;
}
.lighthouseImg{
    width: 100%;
}